* {
    text-decoration: none;
}

body {
    background-image: url('/images/Grass.jpg');
    background-attachment: fixed;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72vh;
}

.wood-title {
    position:absolute;
    transform: rotate(-90deg) scale(1.3);
}

.wood-text {
    position: absolute;
    text-align: center;
    line-height: 20px;
    margin-left: 50px;
    font-family: 'twilight lechy', sans-serif;    
    font-size: 95px;
    color: #472f03;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start h1 {
    position: absolute;
    text-align: center;
    margin: 465px 0px 0px 50px;
    font-size: 40px;
    font-family: 'Alexandria', sans-serif;
}

.start button {
    position: absolute;
    font-size: 40px;
    margin: 680px 0px 0px 40px;
    padding: 0px 50px 0px 50px;
    transform: scale(0.8);
    font-family: 'Alexandria', sans-serif;
    background-color: rgb(245, 132, 156);
    color: rgb(255, 255, 255);
    border: 5px solid rgb(44, 117, 50);
    font-weight: bold;
}

.start button:hover {
    background-color: rgb(219, 117, 139);
    color: #e2d7d7;
    transition: transform 0.2s ease-in-out background-color 0.4s color 0.4s;
    cursor: pointer;
    transform: translateY(2px);
}

#start-screen, #game-description-screen, #game-rules-screen, #round-selection-screen, #main-screen {
    position: relative;
    animation: screenAppear 0.9s ease-out;
}

.game-description, .game-rules, .round-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.scroll-1, .scroll-2 {
    position: absolute;
    transform: scale(1.1);
    z-index: 1;
}

@keyframes textAppear {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    40% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.game-description p, .game-rules ul {
    position: absolute;
    margin: 0px 150px 0px 200px;
    z-index: 2;
    font-size: 19px;
    white-space: pre-line;
    animation: textAppear 2s ease-out;
}

.game-description button, .game-rules button {
    position: absolute;
    z-index: 2;
    font-size: 18px;
    margin-top: 360px;
    padding: 5px 20px 5px 20px;
    font-family: 'Alexandria', sans-serif;
    color: black;
    background-color: rgb(248, 202, 49);
    border: 1px solid rgb(212, 160, 2);
    animation: textAppear 4s ease-out;
}

.game-description button:hover, .game-rules button:hover, .round-selection button:hover {
    cursor: pointer;
}

.round-selection p {
    position: absolute;
    text-align: center;
    margin: 0px 0px 550px 20px;
    font-family: 'Alexandria', sans-serif;  
    font-size: 40px;
    color: black;
}

.Red-Banner, .Yellow-Banner, .Blue-Banner {
    margin: 120px 0px 0px 50px;
    transform: scale(0.9);
}

.three-selection button {
    position: absolute;
    font-size: 145px;
    transform: translateX(-260%);
    margin-top: 260px;
    font-family: 'Alexandria', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(232, 132, 117);
    border: 1px solid rgb(232, 132, 117);
}

.five-selection button {
    position: absolute;
    font-size: 145px;
    transform: translateX(-260%);
    margin-top: 260px;
    font-family: 'Alexandria', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 219, 92);
    border: 1px solid rgb(255, 219, 92);
}

.ten-selection button {
    position: absolute;
    font-size: 145px;
    transform: translateX(-177%);
    margin-top: 260px;
    font-family: 'Alexandria', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(128, 215, 249);
    border: 1px solid rgb(128, 215, 249); 
}

.stone-wall {
    position:absolute;
    transform: scale(1.3) translateY(-40%) translateX(-38%);
    z-index: 1;
}

.wood-left {
    position:absolute;
    transform: scale(0.8) scaleX(0.85) translateX(-75%) translateY(188%);
}

.left {
    position: relative;
}

.left li {
    list-style-type: none;
    position: relative;
    z-index: 2; 
    transform: translateX(-4%) translateY(5%);
}

.left #uRock {
    /* position: relative; */
    cursor: pointer;
    transform: rotate(-90deg) scale(0.2) translateX(-1180%) translateY(-208%);
    transition: transform 0.35s ease-in-out;
    z-index: 2;
}

.left #uPaper {
    /* position: absolute; */
    cursor: pointer;
    transform: scale(0.2) translateX(-275%) translateY(447%);
    transition: transform 0.35s ease-in-out;
    /* z-index: 2; */
}

.left #uScissors {
    /* position: absolute; */
    cursor: pointer;
    transform: scale(0.2) translateX(-270%) translateY(25%);
    transition: transform 0.35s ease-in-out;
    /* z-index: 2; */
}

.left #uLizard {
    /* position: absolute; */
    cursor: pointer;
    transform: rotate(-90deg) scale(0.2) translateX(565%) translateY(-195%);
    transition: transform 0.35s ease-in-out;
    /* z-index: 2; */
}

.left #uSpock {
    /* position: absolute; */
    cursor: pointer;
    transform: scale(0.2) translateX(-285%) translateY(-790%);
    transition: transform 0.35s ease-in-out;
    /* z-index: 2; */
}

.wood-right {
    position:relative;
    transform: translateY(201%) translateX(101%) scale(0.8) scaleX(0.85);
}

.right {
    position: relative;
}

.right li {
    list-style-type: none;
    position: relative;
    z-index: 2; 
    transform: translateX(15%) translateY(-57%);
}

.right #cRock {
    transform: scale(0.2) translateX(190%) translateY(855%)  rotate(-90deg);
    transition: transform 0.35s ease-in-out;
    /* z-index: 2; */
}

.right #cPaper {
    transform: scale(0.2) translateX(200%) translateY(435%);
    transition: transform 0.35s ease-in-out;
    /* z-index: 2; */
}

.right #cScissors {
    transform: scale(0.2) translateX(250%) translateY(36%);
    transition: transform 0.35s ease-in-out;
    /* z-index: 2; */
}

.right #cLizard {
    transform: scale(0.2) translateX(205%) translateY(-412%) rotate(-90deg);
    transition: transform 0.35s ease-in-out;
    /* z-index: 2; */
}

.right #cSpock {
    transform: scale(0.2) translateX(235%) translateY(-780%);
    transition: transform 0.35s ease-in-out;
    /* z-index: 2; */
}

.user-side p {
    font-size: 30px;
    margin: -310px 0px 0px -30px;
    font-family: 'Alexandria', sans-serif;
    position: absolute;
}

.computer-side p {
    font-size: 30px;
    margin: -310px 0px 0px 390px;
    font-family: 'Alexandria', sans-serif;
    position: absolute;
}

#userScore, #computerScore, #roundNumber, .round-number,  #game-message, .user-score, .computer-score {
    position: absolute;
}

#userScore {
    font-size: 40px;
    margin: -230px -190px;
    background-color: white;
    font-weight: bold;
    padding: 0px;
    font-family: 'Alexandria', sans-serif;
    z-index: 3;
} 

#computerScore {
    font-size: 40px;
    margin: -230px 165px;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0px;
    font-family: 'Alexandria', sans-serif;
    z-index: 3;
} 

#roundNumber {
    font-size: 30px;
    margin: -221px -15px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Alexandria', sans-serif;
    padding: 0px;
    z-index: 3;
}

.round-number p {
    font-size: 20px;
    margin: -270px -63px;
    background-color: black;
    color: white;
    padding: 10px 25px 65px;
    font-family: 'Alexandria', sans-serif;
    position: absolute;
    z-index: 2;
} 

.user-score p {
    font-size: 20px;
    margin: -270px -270px;
    background-color: white;
    color: black;
    padding: 10px 40px 65px;
    font-family: 'Alexandria', sans-serif;
    position: absolute;
    z-index: 2;
}

.computer-score p {
    font-size: 20px;
    margin: -270px 75px; /* Adjusted margin-top */
    background-color: white;
    color: black;
    padding: 10px 20px 65px;
    font-family: 'Alexandria', sans-serif;
    position: absolute;
    white-space: nowrap;
    z-index: 2;
}


#game-message {
    display: flex;
    font-size: 20px;
    transform: translateY(490%) translateX(-50%); 
    /* margin: 295px -55px; */
    background-color: rgb(188, 127, 196);
    padding: 15px 50px;
    border: 3px solid rgb(145, 97, 184);
    font-family: 'Alexandria', sans-serif;
    white-space: nowrap;
}

@keyframes screenAppear {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    10% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.dragging {
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.highlight-winner {
    background-color: rgba(0, 255, 0, 0.5);
}

.highlight-loser {
    background-color: rgba(255, 0, 0, 0.5);
}

.highlight-tie {
    background-color: rgba(216, 216, 216, 0.5);
}

/* .playAnim {
    position: relative;
    animation-name: played;
    animation-duration: 1s;
  } */